body{
  background-color: aquamarine;
}

#kwadrat{
  width: 400px;
  height: 400px;
  background: url(images/Obrazek.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}